force-app/main/default/flows/FlowsSendEmailCita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envio_email_a_contacto</name>
        <label>Envio email a contacto</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_contacto.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailtemplatehtml</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cita confirmada en Health Care</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>FlowsSendEmailCita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowsSendEmailCita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contacto</name>
        <label>Get contacto</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Envio_email_a_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medico_Asociado__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Emailtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Envio de correo test&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Emailtemplatehtml</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;!DOCTYPE html&gt; &lt;html&gt; &lt;head&gt;     &lt;title&gt;Cita Médica&lt;/title&gt;     &lt;style&gt;         body {             font-family: Arial, sans-serif;             color: #333333;         }         h1 {             color: #333366;         }     &lt;/style&gt; &lt;/head&gt; &lt;body&gt;     &lt;h1&gt;Confirmación de Cita Médica&lt;/h1&gt;     &lt;p&gt;Estimado(a) {!Get_contacto.Name},&lt;/p&gt;     &lt;p&gt;Le confirmamos su cita médica con el Dr(a). {!$Record.Medico_Asociado__r.Name} en el centro médico {!$Record.Centro_Estetico_Asociado__r.Name}.&lt;/p&gt;     &lt;p&gt;Fecha y Hora: {!$Record.ActivityDateTime}&lt;/p&gt;     &lt;p&gt;Si tiene alguna pregunta o necesita cambiar su cita, no dude en contactarnos.&lt;/p&gt;     &lt;p&gt;¡Gracias por elegir nuestros servicios!&lt;/p&gt; &lt;/body&gt; &lt;/html&gt;</stringValue>
        </value>
    </variables>
</Flow>
